// $first-color-1: #66fbfb;
// $first-color-2: #f76b8a;

// $second-color-1: #d55b3e;
// $second-color-2: #00aaa0;


// $third-color-1: #613864;
// $third-color-2: #ffe700;

// s


// .base__right {
//   position: absolute;
//   width: 55vw;
//  height: 80vh;
//   right: 0;
//   background: #323232 ;
//   overflow: hidden;
// // }
// .base__right_border {
//   position: absolute;
//   width: 55vw;
//  height: 80vh;
//   right: 0;


//   overflow: hidden;
//           border-bottom: 6px solid $first-color-1;


// }
.base {
    position: relative;

    height: 100vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    // display: block;
    background-color: red;
    font-size: 26vh;
    line-height: .8;

    &__left {

        position: absolute;
        top: 0;
        left: 0;
        background-color: blue;
        height: 80%;
        width: 45%;


        &__text {

            background-color: pink;
            display: inline-block;

        }

    }


    &__right {
        top: 0;
        right: 0;
        position: absolute;
        background-color: green;
        height: 80%;
        width: 55%;
    }



}


// .base__left {
//     position: absolute;
//     width: 40vw;
//     height: 100vh;
//     transform: rotate();
//     background: $first-color-1;
//     overflow: hidden;

//     &__text {


//         width: 100%;
//         height: 100vh;
//         font-size: 12rem;

//         filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, .8));
//         display: block;
//         line-height: 12rem;
//         font-weight: 700;

//         text-transform: uppercase;
//         color: #323232;
//         background-color: red;
//         -webkit-background-clip: text;
//         z-index: 1000;

//         trasition: all .4s;

//         animation: textChange 4s, enterFromRight 2.8s;

//         &--1 {
//             background-color: blue;
//             text-align: right;
//         }


//         &--2 {
//             background-color: yellow;
//         }

//         &--3 {}

//         //     &--1 {
//         //       animation: textChange 4s, enterFromLeftText 3s;
//         //              transform: translateX(10vw);
//         //       span {
//         //         color: transparent;

//         //       }
//         //       span + .texton {
//         //         color: $first-color-1;


//         //       }
//         //     }
//         //     &--2 {

//         //       animation: textChange 4s, enterFromRight 3s;
//         //       span {
//         //         color: transparent;
//         //       }}

//     }




// }

// animation:addRemoveSkew 4s;


// &__bottom-right-text {
//     perspective: 150rem;
//     -moz-perspective: 150rem;

//     &--0 {
//         position: absolute;

//         bottom: 0;
//         text-transform: uppercase;
//         right: 0;
//         font-size: 20vh;
//         font-weight: 600;

//         mix-blend-mode: difference;
//         animation: textChange 4s, delayedFlipFromLeft 3.8s;

//         &::after {
//             content: "ez";
//             opacity: 0;
//         }
//     }

//     &--1 {
//         position: absolute;
//         bottom: 0;
//         mix-blend-mode: exclusion;
//         text-transform: uppercase;
//         right: 0;
//         font-size: 20vh;
//         font-weight: 600;
//         margin: 0;
//         color: $second-color-2;
//         animation: textChange 4s, delayedMoveUp 4s;
//     }

//     &--1-0 {
//         position: absolute;
//         bottom: 0;
//         text-transform: uppercase;

//         right: 0;
//         font-size: 20vh;
//         font-weight: 600;
//         margin: 0;
//         color: $second-color-2;
//         animation: textChange 4s, delayedMoveUp 3.8s;
//     }


//     &--0-1 {
//         position: absolute;
//         bottom: 0;
//         text-transform: uppercase;
//         right: 0;
//         font-size: 20vh;
//         font-weight: 600;
//         margin: 0;
//         color: $second-color-2;

//         animation: textChange 4s, delayedFlipFromLeft 4s;


//         &::after {
//             content: "ez";
//             opacity: 0;
//         }
//     }
// }

// &__text {
//     position: absolute;
//     height: 100%;
//     width: 100vw;
//     font-size: 15rem;

//     filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, .8));
//     display: inline-block;
//     line-height: 12rem;
//     font-weight: 900;

//     text-transform: uppercase;
//     color: #323232;
//     background-color: transparent;
//     -webkit-background-clip: text;
//     z-index: 1000;
//     -webkit-backface-visibility: visible;
//     /* Safari */
//     backface-visibility: visible;
//     trasition: all .4s;

//     animation: textChange 4s, enterFromRight 2.8s;


//     span {
//         color: transparent;
//     }

//     &--1 {
//         animation: textChange 4s, enterFromLeftText 3s;
//         transform: translateX(10vw);

//         span {
//             color: transparent;

//         }

//         span+.texton {
//             color: $first-color-1;


//         }
//     }

//     &--2 {

//         animation: textChange 4s, enterFromRight 3s;

//         span {
//             color: transparent;
//         }
//     }
// }

// &__first {
//     position: absolute;

//     // z-index:3
//     &--1 {
//         width: 50vw;
//         height: 100vh;
//         top: 0;
//         left: 0;
//         background-color: $first-color-1;

//         transform: translateY(100vh);
//         animation: moveDown 2.5s;
//     }

//     &--2 {
//         position: absolute;
//         width: 50vw;
//         height: 100vh;
//         top: 0;
//         left: 0;

//         opacity: 1;
//         background-color: $first-color-2;

//         transform: translateY(-100vh);
//         animation: moveDown 2s;
//     }
// }

// &__second {
//     position: relative;

//     &--1 {
//         position: absolute;
//         width: 60vw;
//         height: 100vh;
//         top: 0;
//         left: 0;
//         background-color: $second-color-1;
//         z-index: 2;
//         opacity: 0;
//         transform: translateX(60vw);
//         animation: moveLeftBig 3.5s;
//         animation-delay: 1s;
//     }

//     &--2 {
//         position: absolute;
//         z-index: 2;
//         width: 50vw;
//         height: 100vh;
//         top: 0;
//         left: 0;

//         opacity: 0;
//         background-color: $second-color-2;

//         transform: translateX(50vw);
//         animation: moveLeft 2.5s;
//         animation-delay: 1.5s;
//     }
// }

// &__third {
//     position: absolute;

//     // z-index:1
//     &--1 {
//         width: 50vw;
//         height: 100vh;
//         top: 0;
//         left: 0;
//         background-color: $third-color-1;

//         transform: translateY(100vh);
//         animation: moveDown 2.5s;
//         animation-delay: 1.5s;
//     }

//     &--2 {
//         position: absolute;
//         width: 50vw;
//         height: 100vh;
//         top: 0;
//         left: 0;

//         opacity: 1;
//         background-color: $third-color-2;

//         transform: translateY(-100vh);
//         animation: moveUp 2.5s;
//         animation-delay: 1.5s;
//     }
// }


// @keyframes moveUp {
//     0% {
//         transform: translateY(100vh);
//     }

//     100% {
//         transform: translateY(-100vh);
//     }
// }

// @keyframes moveDown {
//     0% {
//         transform: translateY(-100vh);
//     }

//     100% {
//         transform: translateY(100vh);
//     }
// }

// @keyframes moveLeft {
//     0% {
//         transform: translateX(50vw);
//         opacity: 1;
//     }

//     99% {
//         opacity: 1;
//     }

//     100% {
//         opacity: 0;
//         transform: translateX(-50vw);
//     }
// }

// @keyframes moveLeftBig {
//     0% {
//         transform: translateX(60vw);
//         opacity: 1;
//     }

//     99% {
//         opacity: 1;
//     }

//     100% {
//         opacity: 0;
//         transform: translateX(-60vw);
//     }
// }

// @keyframes moveUp {
//     0% {
//         transform: translateY(100vh);
//     }

//     100% {
//         transform: translateY(-100vh);
//     }
// }

// @keyframes enterFromRight {
//     0% {
//         transform: translateX(100vw);
//     }

//     100% {
//         transform: translateX(0);
//     }
// }

// @keyframes enterFromLeft {
//     0% {
//         transform: translateX(-100vw);
//     }

//     100% {
//         transform: translateX(0);
//     }
// }

// @keyframes enterFromLeftText {
//     0% {
//         transform: translateX(-100vw);
//     }

//     100% {
//         transform: translateX(10vw);
//     }
// }

// @keyframes textChange {
//     0% {
//         color: $third-color-2;
//     }

//     25% {
//         color: $third-color-1;
//     }

//     50% {
//         color: $second-color-2;
//     }

//     75% {
//         color: $second-color-1;
//     }

//     100% {
//         color: #323232;
//     }
// }


// @keyframes addRemoveSkew {
//     0% {
//         transform: skewX(0deg)
//     }

//     50% {
//         transform: skewX(10deg)
//     }

//     70% {
//         transform: skewX(0deg)
//     }

//     100% {
//         transform: skewX(0deg)
//     }
// }



// @keyframes delayedMoveUp {

//     0% {
//         opacity: 0;
//         transform: translateY(100vh);
//     }

//     50% {
//         opacity: 1;
//         transform: translateY(100vh);
//     }

//     75% {
//         transform: translateY(-10vh);
//     }

//     100% {
//         transform: translateY(0vh);
//     }
// }

// @keyframes delayedMovedown {

//     0% {
//         opacity: 0;
//         transform: translateY(-100vh);
//     }

//     50% {
//         opacity: 1;
//         transform: translateY(-100vh);
//     }

//     75% {
//         transform: translateY(-10vh);
//     }

//     100% {
//         transform: translateY(0vh);
//     }
// }

// @keyframes delayedMoveDownSkew {

//     0% {
//         opacity: 0;
//         transform: translateY(-100%) skewY(0);
//     }

//     50% {
//         opacity: 1;
//         transform: translateY(-100%) skewY(0);
//     }

//     75% {
//         transform: translateY(15%) skewY(10deg);
//     }

//     100% {
//         transform: translateY(0%) skewY(0);
//     }
// }

// @keyframes delayedMoveLeft {

//     0% {
//         transform: translateX(100vw);
//         opacity: 0;
//     }

//     50% {
//         opacity: 0;
//         transform: translateX(100vw);
//     }

//     75% {
//         transform: translateX(0);
//         opacity: 1;

//     }

//     76% {
//         transform: translateX(0);
//         opacity: 0;
//     }

//     100% {

//         transform: translateX(0%);
//         opacity: 0;
//     }
// }


// @keyframes delayedFlipFromLeft {

//     0% {
//         transform: translateX(100vw) rotateX(0);
//     }

//     25% {
//         transform: translateX(100vw) rotateX(0);
//     }

//     75% {
//         transform: translateX(0)rotateX(180deg);
//     }

//     100% {
//         transform: translateX(0) rotateX(360deg);
//     }
// }